<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
<ul><li><a href="{{ url_for('admin_jobs') }}">Jobs Applications</a></li></ul>
<ul><li><a href="{{ url_for('admin_internships') }}">Internships Applications</a></li></ul>
    <h2>Welcome, Admin</h2>
    <h3>Alumni Information</h3>
    <h1>Enter Your Query</h1>
    <form action="/admin_dashboard" method="POST">
        <label for="user_query">Query:</label>
        <input type="text" id="user_query" name="user_query" required>
        <button type="submit">Submit</button>
    </form>

    {% if response %}
        <h2>Generated Response</h2>
        <div style="white-space: pre-wrap;">
            {{ response }}
        </div>
    {% endif %}
</body>
</html>
