<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Dashboard</title>
</head>
<body>
    <h2>Welcome, Faculty</h2>
    <ul>
      <li><a href="{{ url_for('post_event') }}">Post Event</a></li>
      <li><a href="{{ url_for('view_event_applications') }}">View Event Applications</a></li>
    </ul>
    <h3>Alumni Information</h3>
    <ul>
        {% for alumni in data %}
        <li>{{ alumni.first_name }} {{ alumni.last_name }} - {{ alumni.department }} - {{ alumni.job_title }}</li>
        {% endfor %}
    </ul>
</body>
</html>
